Page {
  background-color: var(--dark-color-one);
  text-align: center;
  padding: 20;
}

Image {
  margin: 0 50;
}

.title {
  font-size: 18;
  margin-top: 70;
  color: var(--dark-color-five);
  font-weight: 900;
  text-wrap: true;
}

.course-name {
  font-size: 21;
  margin-top: 10;
  color: var(--light-color-three);
  font-weight: 900;
  text-wrap: true;
}

.description {
  font-size: 18;
  margin-top: 30;
  color: var(--dark-color-five);
  text-wrap: true;
}

Button {
  margin-top: 70;
  background-color: var(--light-color-one);
  border-radius: 10;
  color: var(--light-color-five);
  font-weight: 900;
}
